In [1]:
import konlpy

ModuleNotFoundError: No module named 'konlpy'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sns1 = pd.read_excel('./data/innovation/sns/SNS_1.xlsx')
df_sns2 = pd.read_excel('./data/innovation/sns/SNS_2.xlsx')
df_sns3 = pd.read_excel('./data/innovation/sns/SNS_3.xlsx')
df_sns4 = pd.read_excel('./data/innovation/sns/SNS_4.xlsx')
df_sns5 = pd.read_excel('./data/innovation/sns/SNS_5.xlsx')
df_sns6 = pd.read_excel('./data/innovation/sns/SNS_6.xlsx')
df_sns7 = pd.read_excel('./data/innovation/sns/SNS_7.xlsx')
df_sns8 = pd.read_excel('./data/innovation/sns/SNS_8.xlsx')
df_sns = pd.concat([df_sns1, df_sns2, df_sns3, df_sns4, df_sns5, df_sns6, df_sns7, df_sns8], ignore_index=True)

In [3]:
df_sns.head()

,DOCID,SECTION,DATE,TITLE,CONTENT
0,204172453,블로그,20181102235900,신동탄 이안파밀리에 눈에 보이는 프리미엄 진짜네요,분 양 정 보 신동탄 이안파밀리에 눈에 보이는 프리미엄 진짜네요 유쾌한 분양킴 2...
1,204172474,블로그,20181102235700,느린 점심點心,생활 속의 단상 느린 점심點心 묘광거사 2018 11 2 2357 URL 복사 이...
2,204172506,블로그,20181102235400,한화 태양의 숲 조성으로 미세먼지도 막고 환경도 지켜요,한화프렌즈 한화 태양의 숲 조성으로 미세먼지도 막고 환경도 지켜요 아르엘 2018...
3,204172546,블로그,20181102235400,섬유유연제추천 미세먼지까지 잡아 주는 착한 샤프란 섬유유연제 quot; 꽃담초 quot;,쇼핑 섬유유연제추천 미세먼지까지 잡아 주는 착한 샤프란 섬유유연제 꽃담초 요미요...
4,204172587,블로그,20181102235200,핑거루트 허브 다이어트 남자 몸매관리 후기,리뷰 핑거루트 허브 다이어트 남자 몸매관리 후기 김종성유통 2018 11 2 23...

In [4]:
df_sns.shape

(777832, 5)

# pk확인

In [6]:
len(df_sns.groupby(['DATE', 'DOCID']).count())

777832

In [5]:
df_sns['DATE'] = [str(i)[:8] for i in df_sns.DATE]

In [11]:
df_sns.loc[df_sns.SECTION=='뉴스'].groupby('DATE').count()

          DOCID  SECTION  TITLE  CONTENT
DATE
20180401    515      515    515      515
20180402    889      889    889      888
20180403    858      858    858      856
20180404    895      895    895      893
20180405    865      865    865      864
20180406    900      900    900      900
20180407    417      417    417      417
20180408    569      569    569      567
20180409    900      900    900      899
20180410    883      883    883      882
20180411    900      900    900      897
20180412    878      878    878      874
20180413    699      699    699      697
20180414    261      261    261      261
20180416    887      887    887      885
20180417    885      885    885      884
20180418    877      877    877      876
20180419    868      868    868      867
20180420    820      820    820      818
20180421    337      337    337      337
20180422    441      441    441      441
20180423    663      663    663      663
20180424    865      865    865      863
20180425    870      870    870      869
20180426    752      752    752      751
20180427    481      481    481      481
20180428    263      263    263      263
20180429    411      411    411      410
20180430    874      874    874      873
20180501    726      726    726      725
...         ...      ...    ...      ...
20190225    864      864    864      861
20190226    887      887    887      885
20190227    865      865    865      863
20190228    889      889    889      887
20190301    748      748    748      748
20190302    524      524    524      523
20190303    803      803    803      800
20190304    869      869    869      869
20190305    883      883    883      880
20190306    857      857    857      856
20190307    825      825    825      823
20190311    875      875    875      874
20190312    889      889    889      886
20190313    883      883    883      883
20190314    859      859    859      858
20190315    840      840    840      840
20190316    512      512    512      511
20190317    876      876    876      875
20190319    892      892    892      892
20190320    868      868    868      867
20190321    894      894    894      892
20190322    870      870    870      870
20190323    507      507    507      506
20190324      1        1      1        1
20190326    877      877    877      876
20190327    886      886    886      884
20190328    856      856    856      855
20190329    844      844    844      842
20190330    474      474    474      470
20190331    885      885    885      883

[349 rows x 4 columns]

In [8]:
count_list = [for i in df_sns.CONTENT if '미세먼지' in i]

0         분 양 정 보 신동탄 이안파밀리에 눈에 보이는 프리미엄 진짜네요 유쾌한 분양킴  2...
1         생활 속의 단상 느린 점심點心 묘광거사  2018 11 2 2357 URL 복사 이...
2         한화프렌즈 한화 태양의 숲 조성으로 미세먼지도 막고 환경도 지켜요 아르엘  2018...
3         쇼핑 섬유유연제추천 미세먼지까지 잡아 주는 착한 샤프란 섬유유연제  꽃담초  요미요...
4         리뷰 핑거루트 허브 다이어트 남자 몸매관리 후기 김종성유통  2018 11 2 23...
5         280일 임신기록 어메의 280일 기록  임신26주 써니훈댁  2018 11 2 2...
6         지난 주말 사진입니다 당진국화축제 10월 27일 11월 4일까지 서산국화축제 10월...
7         정보 삼성전자 에어드레서 의류청정기는 미세먼지 심한 겨울철에 필수템이네요 초코비  ...
8         코타키나발루 날씨 코타키나발루 1월 날씨 여행옷차림 강수량우기 매월 기후 정리 여행...
9         안녕하세요  지은지성맘입니다   워킹맘이다보니깐 빨래는 포기할 수 없고 집안에 널어...
10        제품리뷰 유아마스크 별과모래 면마스크 매일 써서 재구입이 시급하다 마이애플씨  20...
11        게시판 방학동용달이사수유동미아동용달이사원룸이사 웅이  2018 11 2 2343 U...
12        단아 자유형 단아 배영 소윤이 자유형 소윤이 배영 정우 사이드 킥  자유형 팔동작 ...
13        안녕하세요 아이룩 입니다 11월달 저는 이제 막달 임산부가 되었습니다 곧출산 포스팅...
14        수제품리뷰 빨래 건조기 강추 이건 꼭 사야해 시작의 달인  2018 11 2 234...
15        오늘은 우리 신랑이 쉬는날이예요 쉬는날은 항상 나간다죠 ㅋ 오늘은 미세먼지가 너무 ...
16        ​렌지 후드 주방 환풍기 교체 작업은 이렇게 진행합니다 ​ ﻿​안녕하세요 후드 교체...
17        평택 맛집 추천 회식모임도 조선육회 ​ ​ ​ ​ 벌써 주말이네요 금방 추위가 오는...
18        경험치 LG퓨리케어 공기청정기 AS128VWA 아아그래  2018 11 2 2334...
19        리뷰 유산소운동 실내싸이클 알고타자 ⓦ멜킨스핀바이크 네남자의 그녀  2018 11 ...
20        조안나 세상속으로 만기환급형실비보험 효율적핵심구성안  조안나  2018 11 2 2...
21        정보1 천안놀이학교 놀이가 배움이 되는 블루마린용곡스포츠센터 롯데스포츠센터를 소개합...
22        AK LOVER 포인트 딥 클린 클렌징 오일 피부 세정 가을철 피부관리해보세요 미우...
23        2018 뭘 그렇게 놀래 오늘밤 그대 모습에 반해버렸네 가뭄 끝 단비를 맞은 것처럼...
24        일상 10월 마지막주 신애  2018 11 2 2324 URL 복사 이웃추가 본문 ...
25        사진과 함께하는 일상 일기 10월 쟁짱  2018 11 2 2324 URL 복사 이...
26        ​ 안녕하세요 뷰티블로거 아궈예요 불금에 아궈가 소개해드리는 제품은 비타민이 야무지...
27        제품리뷰 퍼펙트레이디 액체세탁세제·섬유유연제 향기가 폴폴 미셸  2018 11 2 ...
28        패션뷰티 최화정 프랑스 유기농클렌저 르 꽁뚜아르 뒤뱅 믿쓰 알꽃  2018 11 2...
29        Lime board No1 갱신암보험비교 알고싶은점만 쏙쏙봐요 ☻ 라임  2018 ...
                                ...
777802    황사 영향으로 서울지역의 미세먼지 농도가 나쁨 수준을 보이고 있는 24일 오후 서울...
777803    26일 전북지역은 대체로 맑겠다 아침 최저기온은 무주·진안·장수 10도 임실 11도...
777804    26일 대체로 맑고 일교차가 크겠다 광주지방기상청에 따르면 이날 아침 최저기온은 구...
777805    © News1  26일 부산·경남은 서해상에서 동진하는 고기압 영향으로 대체로 맑겠...
777806    국내 최대 IT 전시회 월드IT쇼 2018’에서 국내 이동통신사들이 5G 경쟁의 불...
777807    뉴스웍스이동헌기자 주말인 오늘26일은 전국이 대체로 맑고 제주도는 흐리고 새벽까지 ...
777808    서울 아침 16도 낮 29도 【하동뉴시스】차용현 기자  한낮 기온이 28도를 웃도는...
777809    김노을 기자 하트시그널 시즌2’ 김현우의 훈훈한 일상이 눈길을 끈다 김현우는 과거 ...
777810    “햇볕은 감미롭고 비는 상쾌하고바람은 힘을 돋우며 눈은 마음을 설레게 한다세상에 나...
777811        ▲ 국제뉴스DB 서울국제뉴스 김영명 기자  기상청은 현재 제주도를 중심으로 ...
777812    리얼푸드고승희 기자 엘리베이터가 열리자 세운상가 옥상으로 접어드는 길목에 붙은 작은...
777813    강원 강릉시 경포 해변을 찾은 젊은이가 바닷물로 뛰어들고 있다 사진연합뉴스 데일리한...
777814    5월 마지막 주말 대구·경북지역은 낮 최고기온이 30도를 넘나드는 등 초여름 날씨를...
777815    도널드 트럼프오른쪽 미국 대통령은 24일현지 시간 다음 달 12일 싱가포르에서 예정...
777816    주말인 26일 토요일은 전국이 대체로 맑은 가운데 더운 날씨가 예상된다 제주도는 흐...
777817    향기 좋은 샴푸로 머릿결부터 두피까지 관리해요 케라시스  오드리햅번 퍼퓸 헤어오일 ...
777818    코레일평창관리역 평창·강릉 관광상품 출시 눈길 【평창】“KTX 타고 올림픽 개최도시...
777819    고성군 당초 11m 설치 계획 일부 지적에 23m 높이 운영 【고성】고성군이 초미세...
777820    양양지역에 미세먼지 등 대기오염물질을 측정할 수 있는 대기오염측정망이 구축된다군은 ...
777821      나 혼자 산다에 출연한 다솜이 화제다    25일 방송된 나 혼자 산다에서는 다...
777822    페이스북 공유 트위터 공유 카카오스토리 공유 네이버 공유 인쇄 기사 주소 복사 스크...
777823    전국이 대체로 맑지만 덥고 미세먼지는 나쁘다 전국이 대체로 맑지만 덥고 미세먼지는 ...
777824    페이스북 공유 트위터 공유 카카오스토리 공유 네이버 공유 인쇄 기사 주소 복사 스크...
777825    문화뉴스 MHN 이우람 기자결혼시즌 및 가정의 달 5월이 일주일도 남지 않아 이벤트...
777826    토요일인 오늘은 전국이 대체로 맑고 한낮 기온이 크게 오르겠습니다 오늘 아침 기온은...
777827    자료사진사진제공렌탈피플 생활가전 렌탈가격비교사이트 렌탈피플에서는 브랜드별 이벤트 및...
777828    26일 토요일인 오늘도 역시 어제와 비슷하게 미세먼지 나쁜 수준을 유지하겠다 외출시...
777829    수년째 고질병 발생 개선됐다던 신차도 문제 해결되지 않아 리콜계획 없어 소비자들 피...
777830    토요일인 26일은 전국이 대체로 맑겠다 다만 제주도는 흐리고 비가 내리겠다 기상청에...
777831    기상청에 따르면 오늘26일 전국이 대체로 맑고 한낮에는 30도 안팎까지는 오르는 등...
Name: CONTENT, Length: 777832, dtype: object

In [5]:
df_sns.to_csv('./data/innovation/df_sns.csv', index=False)